.canvas {
    width: 500px;
    height: 600px;
    background-color: #4d0f00;
  }
  
.frame {
    border: 10px solid black;
    width: 500px;
    padding: 10px;
    margin: 20px auto;
  }

  p {
    margin: 0;
    text-align: center;
    color: white;
  }